**.js.map
**.ts.map
**/tsconfig.tsbuildinfo
.DS_Store
.yarnrc
.idea
/chrome
/data
/dist/
/dist/packages
/tmp
lerna-debug.log
build.log
node_modules
package-lock.json
package-oss.json
packages/**/dist
yarn-error.log
yarn.lock

# But do not ignore these files
!packages/lens/dist/*.bundle.*.(js|ts)
